@charset "utf-8";
.cabecera{
    background-color: #CE70DB;
    background-color: #7464D1;
    margin-top: -7px;
    margin-bottom: -2px;
}


.logo {
    display: inline-block;
    min-height: 0px;
    float: none;
    padding-top: 16px;
    margin-left: 25px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.contacto {
    display: inline-block;
    font-weight: bold;
    font-family: Verdana;
    color: white;
    margin-bottom: -4px;
    padding-bottom: 9px;
    margin-left: 1026px;
    margin-top: -19px;
    padding-top: 0px;
}
.logearse {
    display: inline-block;
    padding-left: 31px;
    font-family: Verdana;
    color: white;
    padding-bottom: 0px;
}
.busqueda {
    display: inline-block;
    color: white;
    padding-bottom: 0px;
    max-height: none;
    padding-top: 0px;
    margin-right: 37%;
    margin-left: 262px;
    margin-bottom: 31px;
    float: right;
    margin-top: -44px;
}

.teFooter {
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 12px;
    display: inline-block;
    text-align: center;
    margin-bottom: 12px;
    padding-left: 23%;
}
.pfooter {
    background-color: #636363;
}


* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:500px;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:#7464D1;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:black;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

.cajaDeBusqueda {
    margin-top: -5px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-radius: 15px;
    border-color: #585858;
}


/*Aqui empieza el css*/


.CuerpoPrueba {
    background-color: #B7B0E1;
}
.ElPrimertitulo {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #EAF8E8;
    font-weight: bold;
    font-size: 290%;
    margin-top: 19px;
    margin-bottom: 29px;
    margin-left: 60px;
}
.ElNumero {
    display: inline-block;
    text-align: right;
    color: #FFFFFF;
    font-weight: bolder;
    font-style: normal;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 180px;
    padding-top: 0px;
    margin-top: 138px;
}



.LaImagenj {
    display: inline-block;
    border-style: solid;
    border-color: #b9b9b9;
    border-radius: 22px;
    margin-bottom: 71px;
    margin-left: 229px
}


.LeListe {
    display: inline-block;
}
